/* ========================= SANS-SERIF FONT ========================= */
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');
/* ========================= SERIF FONT ========================= */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

/* ========================= VARIABLE CSS ========================= */
:root {
    /*========== COLORS ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #46291D;
    --second-color: #F5ECE1;
    --third-color: #303030;
    --fourth-color: #a2a2a2;
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(222, 100%, 2%);
    --container-color: linear-gradient(136deg, #4A2F1E, #3E2723);

    /*========== FONT AND TYPOGRAPHY ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --title-font: "PT Serif", serif;
    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    
    --biggest-font-size: 7.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.3rem;
    --big-font-size: 1.4rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.7rem;
    
    /*========== FONT WEIGHT ==========*/
    --small-font-weight: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;

    /*========== MARGIN ==========*/
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-25: 2.25rem;
    --mb-2-50: 2.5rem;
    --mb-2-75: 2.75rem;
    --mb-3-75: 3.75rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ========================= GLOBAL CSS ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: 15px;
    background-color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========================= NAVIGATIONS CSS ========================= */
.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    font-size: 25px;
    background: var(--white-color);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.sitename {
    font-family: var(--title-font);
    font-size: 1.8rem;
    padding: 13px;
    text-transform: uppercase;
}

.sitename a {
    color: var(--black-color);
}

.nav__list hr {
    width: 180px;
}

.nav__menu {
    position: fixed;
    top: 0;
    left: -250px;
    background: var(--white-color);
    height: 100%;
    width: 250px;
    padding: 20px;
    transition: left 0.6s ease;
    z-index: var(--z-fixed);
    box-shadow: 10px 20px 50px 0 rgba(15, 15, 15, 0.08), 0 2px 4px 0 rgba(37, 37, 37, 0.12);
}

.nav__list {
    margin-top: 100px;
    margin-left: 10px;
}

.nav__item {
    margin: 15px 0;
}

.nav__link {    
    color: var(--black-color);
    font-size: 14px;
    text-transform: uppercase;
}

.nav__toggle, .nav__close {
    cursor: pointer;
}

.nav__toggle {
    position: absolute;
    top: 20px;
    left: 20px;
}

.nav__close {
    position: absolute;
    top: 25px;
    left: 25px;
    margin-bottom: 200px;
    color: var(--black-color);
}

/* ========================= CONTACT ========================= */
.contact__container {
    display: flex;
}

.contact__details {
    text-align: center;
}

.bold__text {
    font-weight: var(--font-bold);
}

.contact__links {
    color: var(--black-color);
    text-decoration: underline;
}

/* ========================= MAP ========================= */
.map__container {
    text-align: center;
}

/* ========================= FILL UP ========================= */
.fillup__title {
    text-align: center;
}

.fillup__title, .fill__inp {
    font-family: var(--title-font);
    font-weight: var(--font-bold);
}

.fill__form {
    display: grid;
}

.fill__inp, textarea {
    border: 0.5px solid var(--fourth-color);
}

.fill__button {
    transition: 0.5s;
    text-transform: uppercase;
} 

.fill__button:hover {
    cursor: pointer;
    background: var(--white-color);
    color: var(--black-color);
} 

/* =============== SCROLL BAR =============== */
::-webkit-scrollbar {
    width: 0.6rem;
    background: var(--container-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: .5rem;
}

/* ========================= FOOTER ========================= */
.footer {
    position: relative;
    overflow: hidden;
}

.footer__container {
    display: grid;
    row-gap: 2rem;
}

.footer__title {
    font-family: var(--title-font);
}

.footer__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--black-color);
    font-family: var(--title-font);
}

.footer__social {
    display: flex;
    column-gap: .75rem;
}

.footer__social-link {
    display: inline-flex;
    background: var(--first-color);
    padding: .25rem;
    border-radius: .5rem;
    color: var(--second-color);
    font-size: 1.5rem;
}

.footer__links {
    display: grid;
    row-gap: .35rem;
}

.footer__link {
    font-size: 0.85rem;
    color: var(--black-color);
    transition: .3s;
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 4.5rem;
}

.section {
    padding: 4.5rem 0 2rem;
    box-shadow: 10px 20px 50px 0 rgba(15, 15, 15, 0.08), 0 2px 4px 0 rgba(37, 37, 37, 0.12);
}

.footer__item {
    position: relative;
}

.footer__item::after {
    position: absolute;
    content: '';
    background: var(--black-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.footer__item:hover::after {
    width: 65%;
}

/* ========================= MEDIA QUERY MOBILE ========================= */
@media screen and (min-width: 320px) {
    .contact__container {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .contact__details {
        width: 90%;
        margin: auto;
    }

    .contact__image {
        margin-top: 75px;
        margin-bottom: var(--mb-3-75);
    }

    .about__sitename {
        font-size: var(--h2-font-size);
        line-height: 55px;
        margin-bottom: var(--mb-2);
        font-family: var(--title-font);
    }

    .descriptions, .number {
        margin-bottom: var(--mb-2);
    }

    .enquiries__container {
        margin-bottom: var(--mb-2-25);
    }

    .map__title {
        color: var(--third-color);
        font-size: var(--normal-font-size);
        font-weight: var(--medium-regular);
        margin-top: 60px;
    }

    .find {
        font-family: var(--title-font);
        font-size: 1.8rem;
        margin-bottom: var(--mb-2-75);
    }

    .map {
        height: 500px;
        width: 95%;
        margin: auto;
    }

    .fillup__container {
        margin-top: 250px;
    }

    .fillup__title {
        font-size: 30px;
        font-weight: var(--medium-regular);
        margin-bottom: var(--mb-2-50);
    }

    .fill__form {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        margin: auto;
        gap: 15px;
    }

    .fill__inp, textarea {
        padding: 20px 25px;
        border-radius: 5px;
    }

    .fill__inp::placeholder, textarea::placeholder {
        color: var(--fourth-color);
        font-size: 14px;
        font-weight: var(--font-regular);
    }

    textarea {
        font-family: var(--title-font);
    }

    .fill__submit {
        margin: auto;
    }

    .fill__button {
        background: var(--third-color);
        color: var(--white-color);
        padding: 15px 60px;
        margin-top: var(--mb-1-5);
        margin-bottom: var(--mb-3-75);
    }

    .footer__container {
        margin-left: var(--mb-2-50);
        margin-right: var(--mb-2-50);
    }

    .footer__logo {
        font-size: 1.7rem;
        font-weight: var(--font-bold);
        margin-bottom: var(--mb-1);
    }

    .footer__logo-img {
        width: 30px;
    }

    .footer__description {
        margin-bottom: var(--mb-2);
    }

    .footer__title {
        margin-bottom: var(--mb-1);
    }
}

/* ========================= MEDIA QUERY TABLET ========================= */
@media screen and (min-width: 767px) {
    .contact__container {
        margin-bottom: 10rem;
    }

    .contact__details {
        width: 70%;
        font-size: 20px;
    }

    .contact__image {
        width: 90%;
        margin: 75px auto 80px auto;
    }

    .about__sitename {
        font-size: var(--h1-font-size);
        line-height: 65px;
        margin-bottom: var(--mb-2-25);
    }

    .descriptions, .number {
        margin-bottom: var(--mb-2);
    }

    .enquiries__container {
        margin-bottom: var(--mb-2-25);
    }

    .fill__form {
        grid-template-columns: repeat(2, 1fr);
    }

    #phone, #message, .fill__submit {
        grid-column: 1 / span 2;
    }
    
    .fill__button {
        padding: 25px 60px;
        font-size: var(--normal-font-size);
        margin-top: var(--mb-1-5);
        margin-bottom: var(--mb-3-75);
    }

    .footer__container {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }

}

/* ========================= MEDIA QUERY DESKTOP ========================= */
@media screen and (min-width: 992px) {
    .contact__container {
        flex-direction: row;
    }

    .contact__image {
        height: 100vh;
        width: 50%;
    }

    .find {
        font-size: var(--h1-font-size);
    }
    
    .map {
        width: 80%;
    }

    .fillup__container {
        width: 75%;
        margin: 350px auto;
    }

    .fillup__title {
        font-size: var(--h2-font-size);
    }

    .footer__container {
        max-width: 1300px;
        margin: auto;
    }
}